<footer class="border-t border-slate-200 bg-white pb-6">
    <div class="max-w-7xl mx-auto px-6 py-8
             flex flex-col md:flex-row
             items-center justify-between gap-6">

        <div class="text-center md:text-left">
            <h4 class="text-lg font-semibold text-emerald-600">
                NutriFruit 🍓
            </h4>
            <p class="text-sm text-slate-500">
                Angular Project – Letizia Marra
            </p>
        </div>


        <div class="flex gap-3">
            <a href="https://github.com/leti74" target="_blank" class="p-2 rounded-xl
                 text-slate-500
                 hover:text-emerald-600
                 hover:bg-emerald-50
                 transition">
                <mat-icon>code</mat-icon>
            </a>
        </div>
    </div>
</footer>